#sidebar{
    top:65px;
    left:76px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:20px;
    
}

#sidebar > h3{
    font-size: 28px;
    transition: .25s;
}

#sidebar-menu-container{
    position:fixed;
    top:125px;
    height: 625px;
    width: 325px;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, .3);
}

#card-container{
    position: absolute;
    top:125px;
    left:421px;
    right:76px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.card{
    height:281px;
    width: 257px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 5px 34px;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
}

.card > img {
    width: 175px;
    align-self: center;
}