#sidebar{
    top:65px;
    left:76px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:20px;
    
}

#sidebar > h3{
    font-size: 28px;
}

#sidebar-menu-container{
    position:fixed;
    top:125px;
    height: 625px;
    width: 325px;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, .3);
}

#card-container{
    position: absolute;
    top:125px;
    left:421px;
    right:76px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

#card-container > div{
    height:291px;
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: bisque;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);

}