:root{
    font-family:Roboto, Arial;
    background-color: #F9F6EE;
    height: 1000vh;
    background-image: url(./assets/IMG/output-onlinepngtools.png);
    scroll-behavior: smooth;
}
@font-face {
    font-family: outfit;
    src: url(./assets/font/Outfit/Outfit-VariableFont_wght.ttf);
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

body{
    position: relative;
}
#nav1{
    position: absolute;
    top: 0;
    left:20px;
    right:20px;
    color: white;
    font-family: outfit, Roboto;
}

.nav-start-disappear{
    transform: translateY(-40px);
    opacity: 0;
}

#sticky-nav{
    font-family: outfit;
    position: fixed;
    top: 25px;
    left:100px;
    right:100px;
    background-color: #F9F6EE;
    border-radius: 30px;
    color: black;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, .3);
}

#nav1,
#sticky-nav{
    padding:20px 56px;
    display: flex;
    align-items: center;
    font-size: 14px;
    z-index: 9999;
    transition: .25s;
}

#nav-left, 
#sticky-nav-left{
    display: flex;
    justify-content: space-between;
    flex: .5;
    
}

#nav-left > a,
#sticky-nav-left > a{
    cursor: pointer;
    transition: .2s
}

#nav-left > a:hover,
#sticky-nav-left > a:hover{
    transform: scale(1.15);
}

#nav-right,
#sticky-nav-right{
    display: flex;
    justify-content: end;
    flex: .5;
}

#nav-right > h2,
#sticky-nav-right > h2{
    transition: .25s;
    cursor: pointer;
}

#nav-right > h2:hover,
#sticky-nav-right > h2:hover{
    transform: scale(1.15);
}

.sticky-nav-disappear{
    transform: translateY(-100px);
}

header{
    background: url(./assets/IMG/Pallubasa-shutterstock_1737686360.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: auto;
}

.overlay-header{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), 68%, rgba(0, 0, 0,0));
}

#hero-container{
    position: relative;
    padding-top: 183px;
    padding-left: 84px;
    display: flex;
    flex-direction: column;
    gap:15px;
    color: white;
}

#hero-container > h1{
    font-size: 72px;
    letter-spacing: 5px;
    font-family: outfit;
}

#hero-container > #punchline{
    font-size: 28px;
}

#hero-button-container{
    display: flex;
    padding:10px;
    gap:20px;
}

.call-to-action-group{
    border:solid 3px orange;
    border-radius:100px;
    padding:15px 25px;
    transition: .25s;
    cursor: pointer;

    background-color: rgb(0, 0, 0);
    color: orange;
    font-weight: bold;
}

.call-to-action-group:hover{
    transform: scale(1.1);
    background-color: orange;
    color: black;
    border: 3px solid black;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

#about-me-container{
    display: flex;
    flex-direction: column;
    gap:75px;
    height: 100vh;
    justify-content: start;
    align-items: center;
    padding:220px 156px;
    background-image: url(./assets/IMG/output-onlinepngtools.png);
}

#about-me-title{
    font-size: 96px;
    font-weight: bold;
    line-height: 50px;
    font-family: outfit;
}

#about-me-description{
    font-size: 26px;
    line-height: 65px;
    letter-spacing: 25%;
    text-align: center;
}