:root{
    font-family:Roboto, Roboto, Arial;
    background-color: #F9F6EE;
    height: 1000vh;
}

*{
    margin:0;
    padding:0;
}

body{
    position: relative;
}

.absolute{
    position: absolute;
}

#nav1{
    top: 0;
    left:0;
    right:0;
    /* background-color: rgba(0, 0, 0, 0.61); */
    padding:25px 56px;
    display: flex;
    align-items: center;
    font-size: 14px;
    z-index: 9999;
    transition: .25s;
    color: white;
}

.disappear{
    transform: translateY(-40px);
    opacity: 0;
}

#nav-left{
    display: flex;
    justify-content: space-between;
    flex: .5;
    
}

#nav-left > p{
    color: white;
    cursor: pointer;
    transition: .2s
    /* background-color: lightcoral; */
}

#nav-left > p:hover{
    transform: scale(1.15);
}

#nav-right{
    display: flex;
    justify-content: end;
    flex: .5;
}
#nav-right >h2{
    color:white;
    transition: .25s;
    cursor: pointer;
}
#nav-right > h2:hover{
    transform: scale(1.15);
}

.fixed{
    position: fixed;
}

#sticky-nav{
    top: 25px;
    left:100px;
    right:100px;
    background-color: #F9F6EE;
    border-radius: 30px;
    padding:20px 56px;
    display: flex;
    align-items: center;
    font-size: 14px;
    z-index: 9999;
    transition: .25s;
    color: black;
}


#sticky-nav-left{
    display: flex;
    justify-content: space-between;
    flex: .5;
    
}

#sticky-nav-left > p{
    cursor: pointer;
    transition: .2s
    /* background-color: lightcoral; */
}

#sticky-nav-left > p:hover{
    transform: scale(1.15);
}

#sticky-nav-right{
    display: flex;
    justify-content: end;
    flex: .5;
}
#sticky-nav-right >h2{
    transition: .25s;
    cursor: pointer;
}
#sticky-nav-right > h2:hover{
    transform: scale(1.15);
}

header{
    background: url(./assets/IMG/Pallubasa-shutterstock_1737686360.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.overlay-header{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), 68%, rgba(255, 255, 255,0));
}