:root{
    font-family:sans-serif, Arial;
    background-color: #F9F6EE;
    background-image: url(./assets/IMG/output-onlinepngtools.png);
    scroll-behavior: smooth;
    /* height: 1000vh; */
}
@font-face {
    font-family: outfit;
    src: url(./assets/font/Outfit/Outfit-VariableFont_wght.ttf);
}

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

body{
    position: relative;
}
#nav1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-family: outfit, sans-serif;
}

.nav-start-disappear{
    transform: translateY(-40px);
    opacity: 0;
}

#sticky-nav{
    font-family: outfit;
    position: fixed;
    top: 25px;
    left:80px;
    right:80px;
    background-color: #F9F6EE;
    border-radius: 30px;
    color: black;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, .3);
    padding:20px 56px;
}

#nav1,
#sticky-nav{
    display: flex;
    align-items: center;
    font-size: 14px;
    z-index: 9999;
    transition: .20s;
}

#nav1{
    padding:20px 60px;
}


#nav-left, 
#sticky-nav-left{
    display: flex;
    justify-content: space-between;
    flex: .5;
    
}

#nav-left > a,
#sticky-nav-left > a{
    cursor: pointer;
    transition: .2s
}

#nav-left > a:hover,
#sticky-nav-left > a:hover{
    transform: scale(1.15);
}

#nav-right,
#sticky-nav-right{
    display: flex;
    justify-content: end;
    flex: .5;
}

#nav-right > h2,
#sticky-nav-right > h2{
    transition: .25s;
    cursor: pointer;
}

#nav-right > h2:hover,
#sticky-nav-right > h2:hover{
    transform: scale(1.15);
}

.sticky-nav-disappear{
    transform: translateY(-100px);
}

header{
    background: url(./assets/IMG/Pallubasa-shutterstock_1737686360.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: auto;
    box-shadow: 0 7px 25px -4px rgba(0, 0, 0, .3);
}

.overlay-header{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), 68%, rgba(0, 0, 0,0));
}

#hero-container{
    position: relative;
    padding-top: 183px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap:15px;
    color: white;
    transition: .25s;
}

.hero-container-enter{
    opacity: 0.5;
    transform: translateX(-150px);
}

#hero-container > h1{
    font-size: 72px;
    letter-spacing: 5px;
    font-family: outfit;
}

#hero-container > #punchline{
    font-size: 28px;
}

#hero-button-container{
    display: flex;
    padding:10px;
    gap:20px;
}

.call-to-action-group{
    border:solid 3px orange;
    border-radius:100px;
    padding:15px 25px;
    transition: .25s;
    cursor: pointer;

    background-color: rgb(0, 0, 0);
    color: orange;
    font-weight: bold;
}

.call-to-action-group:hover{
    transform: scale(1.1);
    background-color: orange;
    color: black;
    border: 3px solid black;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

#about-me-container{
    display: flex;
    flex-direction: column;
    gap:75px;

    justify-content: start;
    align-items: center;
    padding:220px 156px 0;
    background-image: url(./assets/IMG/output-onlinepngtools.png);
}



#about-me-title{
    font-size: 96px;
    font-weight: bold;
    line-height: 50px;
    font-family: outfit;
}

#about-me-description{
    font-size: 26px;
    line-height: 65px;
    letter-spacing: 25%;
    text-align: center;
}



#our-best-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    margin:250px 0 0;
    
}

#our-best-title{
    font-size: 128px;
    font-family: outfit;
}

#carrousel-our-best-container{
    width: 1360px;
    margin:0 40px;
    display: grid;
    gap:20px;
    grid-auto-flow: column;
    grid-auto-columns: 325px;
    grid-template-rows: 488px;
}

.our-best-item{
    border-radius: 10px;
    background-color: rgb(250, 235, 220);
    box-shadow:0 0 6px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .25s;
    cursor: pointer;
}

#best-card-container{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:0 38px;
}

#best-card-image{
    width: 300px;
}

#best-card-title{
    font-family: outfit;
    font-size: 24px;
    font-weight: 1000;
}

#best-card-description{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 450;
    text-align: center;
    line-height: 30px;
}

.our-best-item:hover{
    transform: scale(1.01);
    box-shadow:0 0 6px rgba(0, 0, 0, .6);
}

/* Footer CSS */
#footer{
    margin-top: 200px;
    padding:80px 5% 50px;
    background-color: black;
    color:white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 100px;;
}

#footer-description > h2 {
    font-size: 3rem;
    font-family: outfit;
    letter-spacing: 2px;;

}

#footer-description > #tagline{
    margin-top:15px;
    font-size: 1.5rem;
    font-family: sans-serif;
    letter-spacing: 2px;;
}

#footer-description > #desc{
    margin-top: 15px;;
    font-size: 1.15em;
    line-height: 30px;
    letter-spacing: 2px;;
}

#footer-description > p:last-child {
    font-size: 1.2rem;
    padding: 5px;
    margin-top:150px;
    cursor: pointer;
    transition: .25s;
    color: rgb(180, 180, 180);
    display: inline-block;
}
#footer-description > p:last-child:hover{
    color: white;
    transform: translateX(5px);
}

#footer-navigation-menu > h3{
    margin-bottom: 20px;
    font-size: 1.4rem;
}

#footer-navigation-menu > ul{
    list-style: none;
    color:rgb(180, 180, 180);
}

#footer-navigation-menu li{
    margin-bottom: 20px;
    font-size: 1.1rem;
    transition: .25s;
}

#footer-navigation-menu a{
    transition: .25s;
}

#footer-navigation-menu a:hover{
    padding-left: 5px;
    color: white;
}

/* Margin kiri kanan 80px atau 5% untuk responsive */